<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/404.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
	<system.net>
		<mailSettings>
		  <smtp from="tiamat.cos.ufrj.br@gmail.com">
			<network host="mail.smtp2go.com" port="465" userName="tiamat.cos.ufrj.br" password="K0lML4FQQb659HjX" defaultCredentials="false"/>
		  </smtp>
		</mailSettings>
  </system.net>
</configuration>
