CREATE TABLE [dbo].[T_FTA_METHOD_OPTION_ANALYSIS] (
	[OAID] [bigint] IDENTITY (1, 1) NOT NULL ,
	[StepID] [bigint] NOT NULL ,
	[Benefit] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[T_FTA_METHOD_OPTION_ANALYSIS_CRITERIA] (
	[CriteriaID] [bigint] IDENTITY (1, 1) NOT NULL ,
	[EffectID] [bigint] NOT NULL ,
	[NatureOfEffect] [varchar] (150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[StatusQuo] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[T_FTA_METHOD_OPTION_ANALYSIS_EFFECT] (
	[EffectID] [bigint] IDENTITY (1, 1) NOT NULL ,
	[OAID] [bigint] NOT NULL ,
	[DesiredEffect] [varchar] (150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[T_FTA_METHOD_OPTION_ANALYSIS_OPTION] (
	[OptionID] [bigint] IDENTITY (1, 1) NOT NULL ,
	[OAID] [bigint] NOT NULL ,
	[Name] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Description] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[T_FTA_METHOD_OPTION_ANALYSIS_OPTION_X_CRITERIA] (
	[OptionID] [bigint] IDENTITY (1, 1) NOT NULL ,
	[CriteriaID] [bigint] NOT NULL ,
	[Effect] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Impact] [int] NOT NULL 
) ON [PRIMARY]
GO

